application/config/database.php
application/config/email.php
application/controllers/test.php

assets/assets/
assets/images/
assets/img/
assets/smileys/

BingSiteAuth.xml
error_log
favicon.ico
ffmpeg/
fonts/
google92a4e9619b71e354.html
robots.txt
sitemap.xml
system/
uploads/

.settings
.project
.buildpath